/** Styles */
* {
	margin: 0;
	padding: 0;
}
body, p {
	font-size: 16px;
	font-family: Arial;
	color: #222;
	background: #fff;
}
h1 {
	margin-bottom: 20px;
	font-size: 32px;
}
p + ul,
ul + p,
p + p {
	margin-top: 10px;
}
ul {
	list-style-position: inside;
}
li + li {
	margin-top: 5px;
}
select,
button {
	padding: 10px 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background: #eee;
	border: 1px solid #999;
}
button + span {
	margin-left: 10px;
}
.container {
	margin: 30px;
}
.form {

}
.form-group {
	margin: 20px auto;
}
.hide {
	display: none;
}
.small {
	font-size: 14px;
}
footer {
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.gif {
	width: 100px;
	position: relative;
}
.gif-top,
.gif-bottom {
	width: 50px;
	height: 10px;
	margin-left: 25px;
	background: #999;
	position: relative;
}
.gif-top {
	animation: gifbartop 4s infinite;
}
.gif-bottom {
	animation: gifbarbottom 4s infinite;
}
.gif-top::before,
.gif-bottom::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #999;
	position: absolute;
	left: 50%;
	margin-left: -5px;
}
.gif-top::before {
	top: -9px;
}
.gif-bottom::before {
	bottom: -9px;
}
.gif-image {
	width: 20px;
	height: 20px;
	background: #4444ff;
	position: relative;
	animation: gifimage 4s infinite;
}
.gif-image::before,
.gif-image::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
}
.gif-image::before {
	transform: rotate(45deg);
}
.gif-image::after {
	transform: rotate(-45deg);
}
@keyframes gifbartop {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes gifbarbottom {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-8px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes gifimage {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(40px) scale(1, 1);
	}
	75% {
		transform: translateX(40px) scale(1.4, 0.2);
	}
	100% {
		transform: translateX(80px) scale(1.4, 0.2);
	}
}